@import './settings.scss';
@import 'foundation.scss';
@import 'font-awesome.scss';
@import 'ffab.scss';

@include foundation-global-styles;
@include foundation-button;
@include ffab-everything;

$white: get-color(white);
$black: get-color(black);
$header-height: rem-calc(55);

#app {
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  &.dark {
    background-color: $black;

    h1, h2 {
      color: $white;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  align-items: center;

  & > div {
    flex-grow: 1;
    margin-top: $header-height;
    width: 100%;
  }
}

a {
  text-decoration: none;
}

.content {
  padding: 0 $global-padding;
  max-width: $global-width;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}