@value base: 1rem * 1.42857; /* 1rem = 14, base = 20 */
@value neg-base: 1rem * -1.42857; /* 1rem = 14, base = 20 */

@value small: calc(base / 2);
@value normal: calc(base);
@value large: calc(base * 2);

.margin-small { margin: small; }
.margin-normal { margin: normal; }
.margin-large { margin: large; }

.margin-bottom-small {  margin-bottom: small;  }