@import '../../../node_modules/octicons/build/octicons.css';

:root {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px; /* sets rem base */
  line-height: 1.4;
}

@value small as bp-small from './css/breakpoints.css';
@value normal as t-normal, large as t-large, xl as t-xl from './css/typography.css';
@value small as m-small, normal as m-normal, large as m-large from './css/layout.css';
@value blue, white, gray from './css/colors.css';
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

*, *:before, *:after {
  box-sizing: border-box;
}

body {  background: white; margin: 0;  }

#app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

main {
  margin: m-normal;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  & > div {
    flex-grow: 1;
  }
}

:--heading {  font-weight: normal;  margin: m-small 0;  }

h1 {
  font-size: t-xl;
  border-bottom: 2px solid gray;
  margin: m-large 0;
  padding-bottom: 1rem;
}

h2 {  font-size: t-large; }
ul {  list-style-type: none;  margin: 0;  padding: 0;  }
a { color: blue; text-decoration: none; }

@media bp-small {
  h1 {
    font-size: t-large;
    font-weight: bold;
    margin: 0 0 m-normal 0;
    text-align: center;
    text-transform: uppercase;
  }
}