@import "settings/settings.scss";
@import "foundation.scss";
@import "font-awesome.scss";
@import "ffab.scss";

@include foundation-global-styles;
@include foundation-button;
@include ffab-everything;

:root {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px; /* sets rem base */
  line-height: 1.4;
}

@value small as bp-small, max from './css/breakpoints.css';
@value normal as t-normal, large as t-large, xl as t-xl from './css/typography.css';
@value small as m-small, normal as m-normal, large as m-large from './css/layout.css';
@value blue, white, gray, black from './css/colors.css';
@value header-height: 53px;
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

*, *:before, *:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {  margin: 0;  }

header {
  position: fixed;
  transition: top 0.2s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  height: header-height;
  overflow: hidden;
  z-index: 1;

  &.nav-up {
    top: calc(header-height * -1);
  }
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  align-items: center;

  & > div {
    flex-grow: 1;
    margin-top: header-height;
    width: 100%;
  }
}

:--heading {  font-weight: normal;  margin: m-small 0;  }

h1 {
  font-size: t-xl;
  border-bottom: 2px solid gray;
  margin: m-normal 0 m-large 0;
  padding: 1rem 0;
}

h2 {  font-size: t-large; }
ul {  list-style-type: none;  margin: 0;  padding: 0;  }
a { color: blue; text-decoration: none; }

.content {
  padding: 0 m-normal;
  max-width: max;
}

.theme-light {
  background-color: white;
}

.theme-dark {
  background-color: black;

  & :--heading {
    border-color: white;
    color: white;
  }
}

@media bp-small {
  h1 {
    background: gray;
    font-size: t-large;
    font-weight: bold;
    margin: 0 calc(m-small * -1) m-normal;
    text-align: center;
    text-transform: uppercase;
  }

  .content {
    padding: 0 m-small;
  }
}